{% extends config.get('WIKI_BASE_TEMPLATE') %}

{% block head %}
  {{ super() }}
  <link href="https://vjs.zencdn.net/8.6.1/video-js.css" rel="stylesheet" />
  <link href="https://unpkg.com/@videojs/themes@1/dist/city/index.css"
        rel="stylesheet"
  />

{% endblock %}

{% block content %}
{{ super() }}
<main class="row mt-4 wiki-page">
    <div class="col-md-7 offset-md-2">
        <header class="d-flex flex-column justify-content-lg-between mb-4 pb-2 border-bottom">
            <header class="wiki-page-header d-flex flex-column flex-lg-row justify-content-lg-between mb-2 mb-lg-0">
            <h2 class="wiki-page-title mb-0">Список тестов</h2>
            </header>
            <section>
              <button class="copy-file-code btn btn-sm btn-outline-primary"
                      href="#"
                      onclick="window.location.href='{{ url_for('wiki.create_quiz') }}'"
              >
                Создать новый тест</button>
            </section>
            <footer class="wiki-page-info d-flex flex-column flex-lg-row justify-content-lg-between">
            <div class="text-muted small">
            </div>
            </footer>
        </header>
        <article class="content">
          {% if list_quizs == [] %}
            <h2 class="wiki-page-title mb-0"> Тестов не найдено </h2>

          {% else %}
            {% for test in list_quizs %}
              <li>
                {{ test.name }}
              </li>
            {% endfor %}
          {% endif %}
        </article>


    </div>


    <aside class="col-md-3">
        <div class="toc sticky-top pt-3">
          <ul class="media-list">
          </ul>
        </div>
    </aside>
</main>
{% endblock %}

{% block scripts %}
{{ super() }}

{% endblock %}